@use 'var';

.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var.$corDeFundoHeader;
    transition: background-color .5s ease;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 48px;
        

        @media (max-width: 763px) {
            padding: 10px 20px;
        }
    }

    &__logo {
        img {
            width: 200px;

            @media (max-width: 763px) {
                width: 120px;
            }
        }
    }

    &__links {

        &__item {
            display: inline;
            margin-right: 16px;

            @media (max-width: 763px) {
                margin-right: 2px;
            }
        }
    }

    .button {
        height: 50px;
        padding: 12px 16px;

        @media (max-width: 763px) {
            font-size: 13px;
            padding: 8px 11px;
            height: 40px;
            letter-spacing: 0;
        }
    }
}