@use 'var';

.movie {
    padding: 2vw 5vw;
    min-height: 50vw;

    &__tabs {
        display: flex;
        justify-content: center;

        &__button {
            border: none;
            background: none;
            padding-bottom: 5px;
            margin: 0 1vw;
            text-transform: uppercase;
            cursor: pointer;

            &--is-active {
                border-bottom: 5px solid #fff;
            }
        }
    }

    &__images {
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
        margin-top: 44px;

        &:nth-child(4) {
            @media (max-width: 763px) {
                padding-left: 12vw;
                
                p {
                    padding: 0 2px;
                }
            }
    }

        @media (max-width: 763px) {
            grid-template-columns: 1fr;
            margin-bottom: 50px;
        }

        p {
            text-align: center;
        }

        &:last-child {
            p {
                margin-bottom: 16px;
            }
        }

        .img-reduce {
            width: 85%;

            &--more {
                width: 75.7%;
            }
        }

        &__language {
            display: none;
            grid-template-columns: 1fr 1fr 2fr;
            padding-left: 70px;

            @media (max-width: 763px) {
                grid-template-columns: 1fr;
            }

            .img-reduce {
                width: 85%;

                &--more {
                    width: 75.7%;

                    @media (max-width: 763px) {
                        display: none;
                    }
                }
            }
        }

        &--is-active {
            display: grid;
        }

        &__item {
            img {
                max-width: 100%;
                border-radius: 4px;
            }
        }
    }
}