@use 'var';

.movie {
    padding: 2vw 5.6vw;
    min-height: 50vw;

    &__tabs {
        display: flex;
        justify-content: center;

        &__button {
            border: none;
            background: none;
            padding-bottom: 5px;
            margin: 0 1vw;
            font-size: 20px;
            text-transform: uppercase;
            color: var.$corFonteSecundaria;
            cursor: pointer;

            &--is-active {
                border-bottom: 5px solid #fff;
            }
        }
    }

    &__images {
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
        margin-top: 44px;

        p {
            text-align: center;
        }

        &:last-child {
            p {
                margin-bottom: 16px;
            }
        }

        .img-reduce {
            width: 85%;

            &--more {
                width: 75.7%;
            }
        }

        &__language {
            display: none;
            grid-template-columns: 1fr 1fr 2fr;
            padding-left: 70px;

            .img-reduce {
                width: 85%;

                &--more {
                    width: 75.7%;
                }
            }
        }

        &--is-active {
            display: grid;
        }

        &__item {
            img {
                max-width: 100%;
                border-radius: 4px;
            }
        }
    }
}